/*********BODY CSS*******/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #40514E;
}

/********CLASS CSS*******/
.topBox {
  margin-top: 0;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.mountain{
  width: 100%;
}
.bottomCloud {
  width: auto;
  position: absolute;
  left: 150px;
  top: 100px;
}
.bottomCloud2 {
  width: auto;
  position: absolute;
  right: 175px;
  bottom: 300px;
}


.topCloud {
  position: absolute;
  right: 350px;
  top: 25px;
}

.programmer {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #4AB19A;

}
.middleBox{
  padding-top: 100px;
}
.skill-row{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.fav-row{
  width: 50%;
  margin: 40px auto 40px auto;
  text-align: left;
  line-height: 2;
}

.games{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.tv
{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.bottomBox{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 100px;
}
.footer-link{
  color: #11999E;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.footerParagraph{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;

}
.contactMe{
  margin: 10px;


}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.textfav{
  padding-bottom: 0;
}
.bio
{
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.bio2
{
  width: 65%;
  margin: auto;
  padding-top: 20px;
}
.contactMessage{
  width: 50%;
  margin: 40px auto 60px;
}
/*********Headings CSS*****/

h1 {
  color: #4AB19A;
  line-height: 2;
  font-size: 6rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #1F836D;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
h3 {
  color: #55B9A3;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

/**********HR CS******/
hr{
width: 10%;
border-top: 10px;
border-style: dotted;
color: #EAF6F6;

}
p{
  padding-bottom: 10px;
  line-height: 2
}
